/* ==============================================================
   Reseteo de márgenes y rellenos
   ============================================================== */
/* CSS RESET June 2024 */


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100dvh;
    /* border: 2px solid red; */
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  p {
    text-wrap: pretty;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
  
  img,
  video,
  svg {
    height: auto;
    max-width: 100%;
  }
  
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
    }
  }


:root {
    --height-header: 75px;
}

/* Estilos para la barra de desplazamiento en WebKit */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del rastro (parte de fondo) */
}

::-webkit-scrollbar-thumb {
  background: #f49d15; /* Color del pulgar (parte que se mueve) */
  border-radius: 10px; /* Bordes redondeados para el pulgar */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del pulgar al pasar el ratón */
}



/* @font-face {
  font-family: 'Satoshi';
  src: url('../assets//Satoshi_Complete/Fonts/WEB/fonts/Satoshi-BlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Satoshi';
  src: url('../assets//Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Satoshi', sans-serif;
  overflow-x: hidden !important;
}


.contenedor-layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
    /* overflow-x: hidden !important; */
}

.contenedor-prinsipal {
    min-height: calc(100vh - var(--height-header));
}

@media (max-width: 1037px) {
  body.no-scroll  .contenedor-prinsipal {
      display: none;
    }
    body.no-scroll {
      overflow-y: hidden;
    }

  }